@charset "UTF-8";

html{
    font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: "Oxygen", arial;
}
.body-content{
    margin: 10px 10px;
}
.clearfix::after{
    content: ' ';
    display: block;
    clear: both;
}
.top-nav{
    background: #612674;
    color: white;
}
.top-nav ul{
    text-align: center;
    margin: 0;
    padding: 15px 0;
    list-style: none;
}

.top-nav a{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    padding: 20px 50px;
    display: block;
    transition: all .4s;
}
.top-nav a:hover{
    background: #7c3792;
    font-weight: 600;
}
.top-header{
    text-align: center;
}
.top-header-logo{
    margin: .7em;
}
.top-content{
    /* padding: 1.5em; */
    padding: 70px 0;
    background: #efefef;
    text-align: center;
}
.top-content-title{
    color: #612674;
    margin: 0;
}
.top-content-subtitle{
    font-size: 1.1em;
    text-transform: none;
    color: #7c3792;
    padding: 1em;
    line-height: 1.4;
}
.banner-hotel{
    padding: 2em;
    background-color: orange;
    box-shadow:  0px 0 5px 0 rgb(202, 133, 4);
}
.banner-title, .banner-subtitle{
    text-align: center;
    
}
.icon-banner {
    margin: -10px 0 30px 0;
    padding-left: 30%;
}
form{
    padding: 0;
    margin: 0;
    
}
form div{
    flex-direction: column;
    display: flex;
    margin: 20px 0 0 0 ;
    border-radius: 5px ;
}
form input, form textarea{
    padding: 10px;
    border-radius: 5px ;
    border: 3px groove;
}
form input:focus, form textarea:focus{
    background: orange;
}
.map{
    
    
 }
.icons{
    height: 30px;
    margin-right: 5px;
}
.line{
    padding-top: 10px;
    border-top: 2px solid #000000a4;
    margin: 6px;
}
.information-icons a{
    text-decoration: none;
    font-size: 18px;
    color: #000000de;
    font-style: italic; 
    padding: 0 0 0 1%;
}
.information-icons, .information-icons li{
    margin-top: 20px;
}
.information-icons p, .icon-banner li{
    display: inline-block;
}
.information-icons ul{    
    list-style: none;
    margin-bottom: 40px;
}
.icon-play{
    height: 5em;
    margin: 1em;
    padding-left: 20em;
    display: none;
}
.icon-play img{
    max-width: 100%;
    max-height: 100%; 
}
.button{
    text-decoration: none;
    color: white;
    background: #58c4c4;
    padding: .9em 2em;
    border-radius: 6px;
    transition: all .3s;
}
.button:hover{
    background-color: #1fa7a7;
}
.reserva-button{
    float: right;
    margin: 0 0 0 0;
}
.middle-content{
    padding: 1.5em;
    text-align: center;
    background: #efefef;
}
.middle-content-title{
    font-size: 1.2em;
    color: #612674;
    text-transform: uppercase;
}
.middle-content-subtitle,.main-content-article p {
    line-height: 1.6;
}
.middle-content span[class^=icon]{
    font-size: 3em;
    color: #612674;
}
.col-1de4{
    width: 48%;
    margin: 1%;
    float: left; 
}
.endereco{
    margin-left: 5px;
}
.product-title{
    margin-left: 5px;
}
.product-subtitle{
    padding: 0 12% 100px 5% ;
}
.button-product{
    margin: -60px 2% 0 0;
    float: right;
}
.main-content{
    padding: 1.2em;
}
.product-images, .main-image {
    width: 100%;
    height: 20em;
    border-bottom: 3px solid grey;
    border-top: 3px solid grey;
}
.product-images{
    border: 3px solid grey;
    border-radius: 3px;
}
.main-content-article{
    padding-bottom: 1.5em;
}
.footer{
    background: #2a262b;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer-menu{
    background: #161416;
    font-size: 1.3em;
    list-style: none; 
    padding: .9em; 
}
.footer-menu li{
    display: inline-block;
    padding: 0 .5em;
   
}
.footer-menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.384);
    transition: all .2s linear;
}
.footer-menu a:hover{
    color: white;
}
.footer p{
    color: rgba(255, 255, 255, 0.664);
    margin: 0;
    padding: .6em;
    line-height: 1.5;
}
.information-icons a{
    margin: 0 0 0 5px; 
}


/* Tablet Version */
@media screen and (min-width: 48.75em){
    .top-header-logo{
        float: left;
    }
    .top-nav{
        background: transparent;
        float: right;
        margin-top: 20px;  
    }
    .icon-play{
        padding-left: 0;
        display: block;
    }
    .top-nav ul{
        margin: 0;
        padding: 0;
    }
    .top-nav li{
        display: inline-block;
    }
    .top-nav a{
        color: #7c3792;
        margin: 0;
        font-weight: bold;
        border-radius: 5px;
        transition: all .6s;
    }
    .top-nav a:hover{
        color: white;
        font-size: 15px;
    }
    .top-content{
        background: #612674;
        color: white;
    }
    .top-content-title, .top-content-subtitle{
        color: white;
    }
    .col-1-4{
        width: 44%;
        margin: 3%;
        float: left;
    }
    .main-content-article .button{
        /* margin-right: 5%; */
    }
    .main-image{
        width: 50%;
        margin: 0 10% 0 10%;
        height: 25em;
        border: 3px solid grey;
        border-radius: 3px;
    }
    .main-product-article p{
        margin: 0 0 0 80px;
    }
    .middle-content-product{
        padding-left: 15%;
    }
    .information-icons a{
        margin: 0 0 0 80px; 
    }
    .button-product{
        margin: -40px 10% 0 0;
    }
    .product-title{
        margin: 10px 10% 10px 10%;
    }
    .product-images{
        width: 70%;
    }
}


@media screen and (min-width: 60.5em) {
    .top-content{
        background: #612674 url(/images/bg_topo_1198x670.jpg);
        height: 15em;
        padding-top: 15em;
        
    }
    .icon-play{
        margin: 0;
        margin-top: -3em;
    }
    .information-icons a{
        margin: 0 0 0 10%; 
    }
    .main-product p{
        margin: 0 0 0 9%; 
    }
}

/* Fullscreen Version */
@media screen and (min-width: 72em) {
    .top-content{
        background-image: url(/images/bg_topo_1600x1374.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 12em 16em 10em;
    }
    .top-content-title{
        margin-top: 2.5em;
    }
    .top-header{
        border-bottom: 3px solid #612674;        
    }
    .col-1-4{
        width: 23%;
        margin: 1%;
       
    }
    .col-1-2{
        width: 48%;
        margin: 1%;
        float: left;      
       
    }
    .col-1de4{
        width: 48%;
        margin: 1%;
    }
    .main-content-article .button{
        /* float: none;   */
    }
    .main-image{
        width: 70%;
        height: 30em;
        margin: 0 0 0 15%;
    }
    .product-images{
        width: 90%;
        height: 30em;
        border-radius: 5px;
        border: 3px solid grey;
    }
    .main-content{
        

    }
    .main-content p{
        width: 90%;

    }
    .middle-content-title{
        margin: 20px 35px 0 0%;
    }
    .middle-content-subtitle{
        margin:  15px 0 0 0 ;
    }
    .information-icons a{
        margin: 0 0 0 15%; 
    }
    .button-product{
        margin: -40px 50px 0 0;
        float: right;
    }
    .product-title{
        margin: 10px 15% 10px 15%;
    }
    .main-product p:nth-child(3){
        margin: 0 0 0 0%;
    }
    .product-subtitle{
        padding: 0 20% 80px 10%;
    }
    .button-product{
        margin: -40px 15% 0 0;
        float: right;
    }
    .endereco{
        padding-left: 15%;
    }
    .middle-content-product{
        padding-left: 20%;
    }
    .reserva-button{
        float: right;
        margin: 0 9% 0 0;
    }
    .fix{
        margin-left: 12%;
    }
    .title-fix{
        padding-top: 9px;
        
    }
    .icon-banner {
        margin: -10px 0 30px 0;
        padding-left: 37%;
    }
    form div{
        width: 40%; 
    }
    .map{
        display: inline;
         float: right; 
         margin: -32% 1% 0% 0;
        border: 3px outset rgba(54, 53, 53, 0.74);
     }
}